<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuite name="Module Test Suite">
        <directory>./module</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../../vendor</directory>
            <directory suffix=".php">../../module</directory>
        </whitelist>
    </filter>
    <logging>
        <log highlowerbound="80" lowupperbound="50"
     highlight="true" yui="true" charset="UTF-8"
     target="../../data/logs/report" type="coverage-html" />
    </logging>
</phpunit>