[production]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0
includePaths.library = APPLICATION_PATH "/../library"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace = "Application"
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.params.displayExceptions = 0

resources.layout.layoutPath = APPLICATION_PATH "/layouts/scripts/"
resources.layout.layout = "site"

;Carrega lib sistema
autoloaderNamespaces[] = "Sistema_"

;# Views
resources.view.encoding = "UTF-8"

;Alterar dados do banco de dados aqui
resources.db.adapter = "PDO_MYSQL"
resources.db.params.dbname = "sacta"
resources.db.params.username = "root"
resources.db.params.password = ""
resources.db.params.host = "localhost"
resources.db.isDefaultTableAdapter = true
resources.db.params.charset = "utf8"
;Fim dados banco de dados

; Configure default mail transport and addresses.
;
; http://framework.zend.com/manual/en/zend.application.available-resources.html#zend.application.available-resources.mail
; http://framework.zend.com/manual/en/zend.mail.html
;
; resources.mail.transport.register = true
; resources.mail.defaultfrom.email = <EMAIL>
; resources.mail.defaultfrom.name = <NAME>
; resources.mail.defaultreplyTo.email = <EMAIL>
; resources.mail.defaultreplyTo.name = <NAME>
; 
; Zend_Mail_Transport_Smtp
;
; resources.mail.transport.type = "smtp" 
; resources.mail.transport.host = <HOST> ; REQUIRED!
; resources.mail.transport.name = <NAME>
; resources.mail.transport.auth = 'crammd5', 'login' or 'plain'
; resources.mail.transport.username = <USERNAME>
; resources.mail.transport.password = <PASSWORD>
; resources.mail.transport.ssl = 'ssl' or 'tls'
; resources.mail.transport.port = <PORT>

phpSettings.date.timezone = "America/Sao_Paulo"

[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

;Alterar dados do banco de dados aqui
resources.db.params.dbname = "sacta_test"
;Fim dados banco de dados

resources.mail.transport.type = "file"
resources.mail.transport.path = APPLICATION_PATH "/../data/cache/sentmail"

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1
